.navbar
    display: block
    padding: 0.5rem 1rem
    position: sticky
    top: 0
    z-index: 100
    background-color: #001d3d
    p, h1, h2
        margin-top: 0
        margin-bottom: 0
.navbar__content
    display: flex
    justify-content: space-between
    align-items: center
.navbar__right
    display: flex
    align-items: center
    flex-direction: row
    gap: 0.5rem
.navbar__links
    display: flex
    align-items: center
    gap: 0.5rem
    svg
        width: 1.5rem
        height: 1.5rem
        &:hover
            cursor: pointer
.navbar__left
    &:hover
        cursor: pointer
.navbar__language__handler
    select
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        background: none
        border: none
        font-size: 0.8rem
        &:focus
            outline: none
        &:hover
            cursor: pointer
.navbar__theme__handler
    .navbar__theme__handler__circle
        border-radius: 50%
        cursor: pointer
        display: flex
        justify-content: center
        align-items: center
        padding: 0.5rem
        svg
            width: 0.8rem
            height: 0.8rem
        &:hover
            svg
                transform: scale(1.1)
