@import "assets/sass/breakpoints.module.sass"

.about
    display: grid
    grid-template-columns: 1fr 1.5fr
    background-color: #003566

    img
        width: 100%
        height: 100%
        object-fit: cover
    .about__text
        padding: 2rem

.experience
    background-color: #000814

.projects
    background-color: #000814

.experience, .education, .projects
    display: flex
    flex-direction: column
    gap: 2rem
    padding: 2rem

.education
    background-color: #003566

.list__cards
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 2rem

@media screen and (max-width:$medium)
    .list__cards
        grid-template-columns: 1fr

    .about
        grid-template-columns: 1fr
        .about__text
            padding: 1rem
            font-size: 0.9rem
